@model Internship.Models.AssetCategory

<h2>Asset Category Details</h2>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>CatID</th>
            <td>@Model.CatID</td>
        </tr>
        <tr>
            <th>CatName</th>
            <td>@Model.CatName</td>
        </tr>
    </table>
}
else
{
    <p>No asset category found with the given CatID.</p>
}
