<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<WebPublishMethod>MSDeploy</WebPublishMethod>
		<PublishProvider>MSDeploy</PublishProvider>
		<LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
		<LastUsedPlatform>Any CPU</LastUsedPlatform>
		<SiteUrlToLaunchAfterPublish>http://bibashacharya-001-site1.anytempurl.com</SiteUrlToLaunchAfterPublish>
		<ExcludeApp_Data>false</ExcludeApp_Data>
		<MSDeployServiceURL>win1055.site4now.net</MSDeployServiceURL>
		<DeployIisAppPath>bibashacharya-001-site1</DeployIisAppPath>
		<UserName>bibashacharya-001</UserName>
		<_SavePWD>true</_SavePWD>
		<!-- Set to true if you have a password -->
		<SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
		<MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
		<EnableMSDeployBackup>true</EnableMSDeployBackup>
		<EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
	</PropertyGroup>
</Project>